SECRET_KEY=django-secret-key
DEBUG=True
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
POSTGRES_DB=foodgram
DB_HOST=db
DB_PORT=5432
ALLOWED_HOSTS=158.160.13.17 example.com 127.0.0.1 localhost
BASE_URL=https://example.com